<template>
	<div class="sidebar is-active js-sidebar">
		<!-- <h3 class="text-center mb-8 font-fira text-black60">Suitbaze</h3> -->
		<!-- <hr> -->
		<ul class="list-nostyle mb-24">
			<li v-for="menu in menus" :key="menu.id">
				<NuxtLink
					id="getStartedNav"
					class="sidebar__link link-black70"
					:to="menu.link"
					>{{ menu.name }}</NuxtLink
				>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Sidebar',
	data() {
		return {
			menus: [
				{
					id: 1,
					name: 'Headings',
					link: '/headings'
				},
				{
					id: 2,
					name: 'Colors',
					link: '/colors'
				},
				{
					id: 3,
					name: 'Lists',
					link: '/lists'
				},
				{
					id: 4,
					name: 'Text Alignment',
					link: '/textAlignment'
				},
				{
					id: 5,
					name: 'Buttons',
					link: '/buttons'
				},
				{
					id: 6,
					name: 'Alert',
					link: '/alert'
				},
				{
					id: 7,
					name: 'Card',
					link: '/card'
				},
				{
					id: 8,
					name: 'Media Object',
					link: '/mediaObject'
				},
				{
					id: 9,
					name: 'Grid',
					link: '/grid'
				},
				{
					id: 10,
					name: 'Table',
					link: '/table'
				},
				{
					id: 11,
					name: 'Form',
					link: '/form'
				}
			]
		}
	}
}
</script>

<style lang="scss"></style>
