
legend {
    margin-bottom: ($space / 2);
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    min-width: 12.225em;
}

.form-label {
    padding-top: 6px;
    padding-bottom: 6px;

    text-align: left;

    @media #{$medium} {
        text-align: right;
    }
}

.form-input,
.form-file-input {
    padding: 6px 8px;
    border: solid 1px #ccc;
    border-radius: 2px;
    font-family: inherit;
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.form-input {
    &:focus {
        border-color: #333;
        outline: none;
    }

    &[disabled] {
        color: #A8A8A8;
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        // https://github.com/ImBobby/suit-baze/issues/98
        -webkit-text-fill-color: #A8A8A8;
    }

    &[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    @at-root select#{&} {
        padding-right: 32px;
        background: url(../img/select-arrow.png) center right 12px no-repeat;
        background-size: 10px;
        appearance: none;
    }
}

.form-file-label {
    pointer-events: none;
}

.form-file-input {
    display: inline-block;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    + .btn {
        padding: 6px 8px;
        pointer-events: all;
    }

    @media #{$medium} {
        flex: 0 1 auto;
        min-width: 12.225em;
    }
}

.form-check-group {
    padding: 7px 8px;

    .form-check__item {
        position: relative;
        margin-right: 10px;
    }

    &.form-input--block .form-check__item {
        display: block;
        width: 100%;
    }
}

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }

    &.form-check-group .form-check__item {
        color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }

    &.form-check-group .form-check__item {
        color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;

    & + .msg-error {
        display: block;
        margin: 4px 0 0 0;
    }
}

.msg-error {
    display: block;
    margin: 4px 0 0 0;

    @media #{$medium} {
        display: initial;
        margin: 0 0 0 8px;
    }
}
