
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    user-select: none;

    li {
        margin: 0 2px;
    }

    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 1px #ddd !important;
        color: currentcolor !important;
        background: #eee !important;

        &:hover,
        &:focus {
            background: darken(#eee,10%) !important;
        }

        &[disabled],
        &.disabled {
            opacity: .6;
            cursor: default;
            pointer-events: none;
        }

        &.is-active,
        &.current {
            font-weight: bold;
            background: darken(#eee,10%) !important;
            cursor: default;
            pointer-events: none;
        }
    }
}

.paginate_button {
    display: inline-flex !important;
}

.pagination--left {
    @extend .pagination;
    justify-content: flex-start;
}

.pagination--right,
.dataTables_paginate {
    @extend .pagination;
    justify-content: flex-end;
}
