<template>
	<main>
		<div class="container">
			<!-- Buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Buttons</h2>
				<p v-for="color in colors" :key="color.id">
					<button
						v-for="button in buttons"
						:key="button.id"
						:class="button.class + color.class"
					>
						Button Color
					</button>
				</p>
			</div>
			<hr />

			<!-- Button sizing -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Button Sizing</h2>
				<p v-for="size in sizes" :key="size.id">
					<button
						v-for="button in buttons"
						:key="button.id"
						:class="button.class + size.class"
					>
						{{ size.name }}
					</button>
				</p>
			</div>
			<hr />

			<!-- Icon-only buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Icon-only Buttons</h2>
				<p>
					<button class="btn--primary btn--small btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
					</button>
					<button class="btn--ghost-black btn--small btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
					</button>
					<button class="btn--flat-light-grey btn--small btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
					</button>
				</p>
				<p>
					<button class="btn--primary btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
					</button>
					<button class="btn--ghost-black btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
					</button>
					<button class="btn--flat-light-grey btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
					</button>
				</p>
				<p>
					<button class="btn--primary btn--large btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
					</button>
					<button class="btn--ghost-black btn--large btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
					</button>
					<button class="btn--flat-light-grey btn--large btn--icon">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
					</button>
				</p>
			</div>
			<hr />

			<!-- Icon + Text buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Icon + Text Buttons</h2>
				<p>
					<button class="btn--primary btn--small">
						Search
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
					</button>
					<button class="btn--ghost-black btn--small">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
						Cancel
					</button>
					<button class="btn--flat-light-grey btn--small">
						Profile
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
					</button>
				</p>
				<p>
					<button class="btn--primary">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
						Profile
					</button>
					<button class="btn--ghost-black">
						Search
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
					</button>
					<button class="btn--flat-light-grey">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
						Cancel
					</button>
				</p>
				<p>
					<button class="btn--primary btn--large">
						Cancel
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-times']" />
						</span>
					</button>
					<button class="btn--ghost-black btn--large">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-user']" />
						</span>
						Profile
					</button>
					<button class="btn--flat-light-grey btn--large">
						<span class="icon">
							<font-awesome-icon :icon="['fas', 'fa-search']" />
						</span>
						Search
					</button>
				</p>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			buttons: [
				{ id: 1, class: 'btn--' },
				{ id: 2, class: 'btn--ghost-' },
				{ id: 3, class: 'btn--flat-' }
			],
			colors: [
				{ id: 1, class: 'primary' },
				{ id: 2, class: 'secondary' },
				{ id: 3, class: 'warning' },
				{ id: 4, class: 'danger' },
				{ id: 5, class: 'black' },
				{ id: 6, class: 'light-grey' },
				{ id: 7, class: 'white' }
			],
			sizes: [
				{ id: 1, name: 'Small Button', class: 'primary btn--small' },
				{ id: 2, name: 'Normal Button', class: 'primary' },
				{ id: 3, name: 'Large Button', class: 'primary btn--large' }
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
