<template>
	<main>
		<div class="container">
			<!-- Lists -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Lists</h2>
				<div class="ml-24">
					<h5>Ordered List</h5>
					<ol>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ol type="a">
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ol>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ol>

					<h5>Unordered List</h5>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>id facere,</li>
						<ul>
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ul>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>

					<h5>Inline List</h5>
					<ol class="list-inline">
						<li>Lorem ></li>
						<li>Ipsum ></li>
						<li>Dolor</li>
					</ol>

					<h5>No Style List</h5>
					<ul class="list-nostyle">
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ul>
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ul>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
