<template>
	<main>
		<div class="container">
			<!-- Text align -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Text Alignment</h2>
				<div class="ml-24" v-for="alignment in alignments" :key="alignment.id">
					<h5>{{ alignment.title }}</h5>
					<p :class="alignment.class">
						{{ lorem }}
					</p>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			alignments: [
				{ id: 1, title: 'Left Align', class: 'text-left' },
				{ id: 2, title: 'Center Align', class: 'text-center' },
				{ id: 3, title: 'Right Align', class: 'text-right' }
			],
			lorem:
				'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
		}
	}
}
</script>

<style lang="scss"></style>
